@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* @import "icons-core";
@import "icons-navigation";
@import "icons-action";
@import "icons-object"; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Montserrat'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Montserrat';
}

/* .container{
  /* background-image: url(./images/xname-lname.png); */
  /* background-color: #F4FBFA;
  margin: "120px";
  flex-direction: 'center';
  margin-left:'120px';
  margin-Right:'120px';
 } */
